<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytescout.Spreadsheet" version="2.4.0.1346" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="12.1.021" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.1.021" targetFramework="net45" />
</packages>